{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>🎞️ Movies for User ID {{ user_id }}</h1>


    {% if movies %}
        <ul>
        {% for movie in movies %}
           <li>
        <strong>{{ movie.name }}</strong> ({{ movie.year }}) – directed by {{ movie.director }}
        <br>
        <img src="{{ movie.poster_url }}" width="100">


        <form action="{{ url_for('update_movie', movie_id=movie.id, user_id=user.id) }}" method="POST" style="margin-top: 10px;">
            <input type="text" name="new_name" placeholder="New title..." required>
            <button type="submit">Update Title ✏️</button>
        </form>

               <form action="{{ url_for('delete_movie', user_id=user.id, movie_id=movie.id) }}" method="POST" style="display:inline;">
    <button type="submit">🗑️ Delete</button>
    </form>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No movies found for this user.</p>
    {% endif %}
    <h2>➕ Add New Movie</h2>
    <form action="{{ url_for('list_movies', user_id=user.id) }}" method="POST" class="add-user-form">
        <input type="text" name="name" placeholder="Enter name..." required>
        <button type="submit">Add Movie 🚀</button>
    </form>

    <div class="back-link">
        <a href="{{ url_for('home') }}">⬅️ Back to Home</a>
    </div>
</div>
{% endblock %}